.input-box{
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    transform: translateY(200%);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
    border-top: 1px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
    padding-bottom: 30px;
    background-color: #fff;
}
.active{
    transform: translateY(0);
}

.input-box > .input-wrap{
    padding: 0 20px;
}
.input-box >.input-wrap > h3{
    color: #898989;
    height: 40px;
    line-height: 40px;
    font-weight: normal;
}
.input-box > .input-wrap > .item{
    margin-top: 6px;
}

.input-wrap > button.submit {
    color: #353535;
    width: 100%;
    height: 40px;
    outline: none;
    border-width: 2px;
    border-style: solid;
    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: transparent;
    border-bottom-color: transparent;
    box-shadow: 3px 3px 2px 1px rgba(0,0,0,0.5);
    border-radius: 6px;
    background-color: #ffd875;
    transition: all 0.1s ease-in-out;
}
.input-wrap > button.submit:active {
    box-shadow: none;
    border-color: transparent;
}
