.wrap{
    flex: 1;
    height: 100vh;
    overflow: auto;
    box-sizing: border-box;
}
.wrap > .list-wrap > .item {
    height: 60px;
    padding: 0 10px;
    line-height: 60px;
}
.wrap > .list-wrap > .item ~ .item {
    border-top: 1px solid rgba(0,0,0,0.05);
}
.wrap > .action-bar{
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}
.wrap > .action-bar > button{
    color: #fff;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    box-shadow: 2px 2px 6px rgba(0,0,0,.5);
    border-radius:50%;
    background-color: rebeccapurple;
}
