.mask-wrap{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    position: fixed;
    transition: all 0.3s ease-in-out;
    background-color: rgba(0,0,0,0.4);
}
.active{
    opacity: 1;
}
.hide {
    opacity: 0;
}
